<%- include("partials/header") -%>

<div class="container">
  <h1 class="">HEllo!</h1>

  <a href="/create" class="btn btn-dark text-white">Create Story</a>

  <a href="/archive" class="btn btn-dark text-white">Archive</a>

</div>
<% storys.forEach(story=>{ %>
      <div class="container story">
        <h2 class="mt-4"><%= story.storyTitle %></h2>
       <div class="story">
         <%= story.content.substring(0,500)+".." %>
         <a href="/story/<%= story._id %>">Read More</a>
       </div>
       <form action="/update" method="post">
         <input type="hidden" name="storyID" value="<%= story._id %>">
         <button type="submit" class="btn btn-secondary text-white">Edit</button>
       </form>
       <form action="/archive" method="post">
         <input type="hidden" name="storyID" value="<%= story._id %>">
         <button type="submit" name="archive" class="btn btn-primary">Archive</button>
       </form>
     </div>
     <%  }) %>



<%- include("partials/footer") -%>
